* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {

    display: flex;
    flex-direction: column;
}




header a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 20rem;
    padding: 1em;
}

.header__001 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: 2em;
    
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    /* gap: 4rem; */
    border-radius: 25px;
    margin-bottom: 4rem;
    backdrop-filter: blur(100px);
    background: #e8e5e480;
}

.contact {
    background: white;
    height: 2.5rem;
    width: 8rem;
    border-radius: 20px;
    margin-right: 5px;
}

.together {
    width: 100%;
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    margin: 15rem 0rem 5rem 0rem;
    
}

.touch {
    color: #ddddd5;
}

.together h1 {
    width: 50rem;
}

.ft-image {
    width: 2rem;
    height: 2rem;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
}


.twitter {
    display: flex;
    gap: 30px;
}

.harris {
    display: flex;
    align-items: center;
}

@media (max-width: 1080px) {
    

.together {
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
    margin: 16rem 0rem 5rem 0rem;
    
}

.together h1 {
    width: 30rem;
}

@media (max-width: 809px) {
    .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 2rem;
    margin-top: 10em;
}
}

}